.navGrad {
    background-image: linear-gradient(to right, #9999ff, #ccccff, #cc66ff);
}

.navbar-blur{
    -webkit-backdrop-filter: blur(5px);
}

.invert-text {
    mix-blend-mode: difference;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}